.hero {
  height: calc(100% - 5rem);
  width: 100%;
  padding: 10rem 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 5rem;
}

.hero h1 {
  font-size: 4.5rem;
  /* text-transform: uppercase; */
}

.hero p {
  font-size: 1.4rem;
  line-height: 1.5;
}

.hero__button {
  margin-top: 1.5rem;
  width: fit-content;
  height: 3rem;
  padding: 1rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

  animation: bouncey-bounce 3s ease infinite;
}

.hero__button:hover {
  cursor: pointer;
}

.hero__button--light {
  background-color: #7e80c9;
  color: #fff;
}

.hero__button--dark {
  background-color: #c6c7ff;
  color: #000;
  border: 1px solid #1e1f24;
}

@media (max-width: 1400px) {
  .hero {
    padding: 8rem 15rem;
  }

  .hero h1 {
    font-size: 4.4rem;
  }

  .hero p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 1150px) {
  .hero {
    padding: 7rem 10rem;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 990px) {
  .hero {
    padding: 5rem 5rem;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 765px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 500px) {
  .hero {
    padding: 4rem 2rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@keyframes bouncey-bounce {
  75% {
    transform: translateY(0%);
  }

  83% {
    transform: translateY(-14%);
  }

  90% {
    transform: translateY(0%);
  }
}
