.lqb__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.lqb__circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 1;
}

.lqb__blurFilter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.lqb__blurFilter--light {
  filter: blur(120px);
}

.lqb__blurFilter--dark {
  filter: blur(120px) brightness(85%);
}

.lqb__circle--blue {
  background-color: #b5e5ff;
}

.lqb__circle--pink {
  background-color: #f9abe7;
}

.lqb__circle--purple {
  background-color: #d1bbf9;
}

.lqb__circle--light {
  background-color: #ffffff;
  z-index: 2;
}

.lqb__circle--dark {
  background-color: #121212;
}

.lqb--light {
  background-color: #def1ff;
}

.lqb--dark {
  background-color: #121212;
}
