.navbar {
  height: 5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent !important;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  height: 100%;
  padding: 0rem 3rem;

  user-select: none;
}

.navbar__contact-settings {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.navbar li:not(.navbar__contact-settings) {
  transition: all 0.2s ease;
}

.navbar li:not(.navbar__contact-settings):hover {
  cursor: pointer;
  transform: scale(1.15);
}

.navbar li:not(.navbar__contact-settings):active {
  transform: scale(1.05);
}

.navbar--light {
  color: #000;
}

.navbar--dark {
  color: #fff;
}

@media (max-width: 925px) {
  .navbar__contact {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar__list {
    padding: 2rem;
  }
  .navbar__about,
  .navbar__projects,
  .navbar__resume {
    display: none;
  }
}
