.navbar {
  height: 5rem;
  font-size: 1rem;
  font-weight: 700;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  height: 100%;
  padding: 0rem 3rem;
}

.navbar__contact {
  margin-left: auto;
}

.navbar li:not(.navbar__contact) {
  transition: all 0.25s ease;
}

.navbar li:not(.navbar__contact):hover {
  cursor: pointer;
  transform: scale(1.15);
}
